@model E_Library.Models.LibraryBook.BookDetailsVM

@{
    ViewData["Title"] = "Details";
}
<style>
    #Design {
        color: green;
        
    }
</style>

<h1 style="text-align:center;color:green">Book Details Form</h1>

<div class="p-4 rounded border row">

    <div class="col-8">
        <dl class="row">

            <dt class="col-sm-4" id="Design">
                @Html.DisplayNameFor(model => model.BookName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.BookName)
            </dd>

            <dt class="col-sm-4" id="Design">
                @Html.DisplayNameFor(model => model.BookCode)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.BookCode)
            </dd>

            <dt class="col-sm-4" id="Design">
                @Html.DisplayNameFor(model => model.Picture)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Picture)
            </dd>

            <dt class="col-sm-4" id="Design">
                @Html.DisplayNameFor(model => model.Categories.CategoryName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Categories.CategoryName)
            </dd>

            <dt class="col-sm-4" id="Design">
                @Html.DisplayNameFor(model => model.Authors.AuthorName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Authors.AuthorName)
            </dd>

            <dt class="col-sm-4" id="Design">
                @Html.DisplayNameFor(model => model.PublicationName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PublicationName)
            </dd>

            <dt class="col-sm-4" id="Design">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt class="col-sm-4" id="Design">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Quantity)
            </dd>

        
            <dt class="col-sm-4" id="Design">
                @Html.DisplayNameFor(model => model.IsAvailable)
            </dt>
       
                @if(Model.IsAvailable==true)
                {
                <dd class="col-sm-8" style="color:green;font-size:larger">
                        Stock Available
                </dd>

                     }
                else
                {

                <dd class="col-sm-8" style="color:red;font-size:larger">
                    Stock Out
                </dd>
               
                }
        </dl>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
        <h3 style="text-align:center ;color:red">Book Picture</h3>
        <img src="~/@Model.Picture" width="300" height="250" />
        @if (Model.IsAvailable)
        {
            <img src="~/BookImages/in-stock.jpg" width="300" height="70" />
        }
        else
        {
            <img src="~/BookImages/out-of-stock.jpg" width="300" height="70" />
        }

    </div>
</div>


    
<div class="form-group text-center">
    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Edit Data</a>
    <a asp-action="Index" class="btn btn-outline-info"> <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Back to List</a>
</div>
