@model IEnumerable<Food>
@{
    ViewData["Title"] = "Index";
    int serialNo = 1;
}
<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Food List</h2>
    </div>
    <div class="col-6 align ;text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fa-solid fa-plus"></i>&nbsp;New Food</a>
    </div>
</div>

<br />
<style>
    .table-info th { 
        font-family: "Trirong",serif;
        text-align: center;
    }
</style>


<div class="text-center">
    <table class="table table-striped border table table-bordered" id="myTable">
        <thead >
            <tr class="table-info">
                <th>Serial No</th>
                <th>@Html.DisplayNameFor(c=>c.Name)</th>
                <th>@Html.DisplayNameFor(c=>c.Price)</th>
               
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@(serialNo++)</td>
                    <td>@data.Name</td>
                    <td>@data.Price</td>
                   
                    <partial name="_ButtonPartial" model="@data.Id" />
                    @*<td>Edit | Details | Delete</td>*@

                </tr>
            }
        </tbody>
       

    </table>
</div>
@section Scripts
    {
    
    <script type="text/javascript">
        $(document).ready(function () 
        {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
        $(function () {
            var add = '@TempData["add"]'
            if (add != '') {
                alertify.success(add);

            }
        })
    </script>

    <script type="text/javascript">
        $(function () {
            var edit = '@TempData["edit"]'
            if (edit != '') {
                alertify.warning(edit);
            }
        })
    </script>
    <script type="text/javascript">
        $(function () {
            var done = '@TempData["done"]'
            if (done != '') {
                alertify.error(done);

            }
        })
    </script>

}

